# .env.example
# Nodemailer Credentials
EMAIL_USER=
EMAIL_PASS=

# M-Pesa Daraja API Credentials
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://ais-dev-zsrdhnaqudtetbjyvwx3e4-150148541904.europe-west1.run.app/api/mpesa/callback
MPESA_ENVIRONMENT=sandbox # or production
